import { Component } from '@angular/core';
import {
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonCardContent
} from '@ionic/angular/standalone';

@Component({
  selector: 'app-home',
  standalone: true,
  imports: [
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonCardContent
  ],
  template: `
    <ion-header>
      <ion-toolbar>
        <ion-title>{{displayName}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Welcome to {{displayName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{description}}</p>
          <p>Your app is ready. Start building!</p>
        </ion-card-content>
      </ion-card>
    </ion-content>
  `
})
export class HomePage {}
